/*estilo da imagem*/
body {
    background: url('img/Cifras_7.png') no-repeat center center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 136%;
    width: 99%;
    top: auto;
    margin-bottom: 120;
}
/*  fim estilo da imagem*/



#texto {
    font: 18px Arial, Sans-serif;
    text-align: center;
    width: 400px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 5px;
}



/*estilo da seleção de encrementação*/
#deslocamento {
    text-align: center;
    width: 130px;
    height: 20px;
    border: 2px solid gold;
}
/*  fim estilo da seleção de encrementação*/

/*estilo da letra da mensagem*/
#textocifrado {
    text-align: center;
    font: 28px Arial, Sans-serif;
    line-height: 50px;
    width: 400px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 5px;
}
/*estilo  botão*/
.button1 {
    background-color: gold;
    border-radius: 2px;
    width: 90px;
    height: 30px;
    border: 2px solid black;
}
